fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic-settings
email-validator
python-multipart

celery
redis
opencv-contrib-python
numpy
scipy
scikit-learn
pillow
